.contain {
  display: flex;
}


.titleForm {
  color: white;
  font-size: 80px;
}

.form {
  text-align: center;
  width: 1200px;
  margin: auto; 
}

.subtitleForm {
  color: white;
  font-size: 30px;
}

.imagePays {
  width: 50px;
}

ul {
  list-style: none;
}