* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.contain {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
 
}
nav {
  padding: 20px;
  /* background-color: blue; */
}

.titleForm {
  color: white;
  font-size: 80px;
}
.form {
  text-align: center;
  width: 900px;
  margin: auto; 
  /* background-color: blueviolet; */
}
.titleForm {
  color: white;
  font-size: 60px;
}

.subtitleForm {
  color: white;
  font-size: 20px;
}

.imagePays {
  width: 50px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 1030px) {
ul {
  flex-direction: row;
  justify-content: center;
  
  
}
nav {
  width: 100%;

 }


}